<div class="products-index">
  <h1 class="product-link"><%= @product.name %></h1>
  <div class="product-price"><%= number_to_currency(@product.price) %></div>
  <p class="product-description"><%= @product.description %></p>
</div>
